.container {
    width: 100%;
    height: 500px;
    max-width: 900px;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
}

.canvas {
    width: 100%;
    height: 100%;
    display: block;
}
