/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSvg {
  height: 200px;
  width: 200px;
  flex-shrink: 0;
}

.customGradient linearGradient stop {
  stop-color: rgb(8, 12, 13) !important;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.titleLayout {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.wipBanner {
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
