/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSvg {
  height: 200px;
  width: 200px;
  flex-shrink: 0;
}

.customGradient linearGradient stop {
  stop-color: rgb(8, 12, 13) !important;
}

.wipBanner {
  padding: 1rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
