/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #42D9FF;
  --ifm-color-primary-dark: #2EB1D9;
  --ifm-color-primary-darker: #1D8BB3;
  --ifm-color-primary-darkest: #0F678C;
  --ifm-color-primary-light: #94F1FF;
  --ifm-color-primary-lighter: #BDF8FF;
  --ifm-color-primary-lightest: #E6FDFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #3BBBDC;
  --ifm-color-primary-dark: #296D7E;
  --ifm-color-primary-darker: #224F5B;
  --ifm-color-primary-darkest: #1B3B45;
  --ifm-color-primary-light: #62D1E8;
  --ifm-color-primary-lighter: #8EE6F3;
  --ifm-color-primary-lightest: #B8F1F8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.platform-hinted {
  display: block;
  flex: auto
}

.platform-hinted>.platform-bookmarks-row,
.tabs-section {
    margin-left: -8px;
    margin-right: -8px
}

.platform-hinted>.platform-bookmarks-row>.platform-bookmark,
.section-tab {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--inactive-tab-border-color);
    color: var(--inactive-section-color);
    cursor: pointer;
    font-size: var(--default-font-size);
    margin: 0 8px;
    outline: none;
    padding: 11px 3px
}

.platform-hinted>.platform-bookmarks-row {
    margin-bottom: 16px;
    margin-bottom: var(--size-s3)
}

.no-js .platform-bookmarks-row+.sourceset-dependent-content {
    margin-top: 8px;
    margin-top: var(--size-s2)
}

.no-js .platform-bookmarks-row+.sourceset-dependent-content:last-of-type {
    margin-top: 0
}

.platform-hinted>.platform-bookmarks-row>.platform-bookmark {
  align-self: flex-start;
  background: inherit;
  flex: none;
  min-width: 64px;
  min-width: var(--size-l1);
  order: 5
}

.platform-hinted>.platform-bookmarks-row>.platform-bookmark:hover {
  border-bottom: 2px solid var(--default-font-color);
  color: var(--default-font-color)
}

.platform-hinted>.platform-bookmarks-row>.platform-bookmark[data-active=""] {
  border-bottom: 2px solid var(--active-tab-border-color);
  color: var(--active-section-color)
}

.js .platform-hinted>.content:not([data-active]),
.js .tabs-section-body [data-togglable]:not([data-active]),
.main-content[data-page-type=package] .tabs-section-body h2,
.no-js .platform-bookmarks-row,
.no-js .tabs-section {
  display: none
}

.markdown li + li {
  margin-top: 0px !important;
}