/*
 * Custom Dokka styles
 */
code .token {
    white-space: pre;
}

/**
 * Styles based on webhelp's prism.js styles
 * Changes:
 * - Since webhelp's styles are in .pcss, they use nesting which is not achievable in native CSS
 *   so nested css blocks have been unrolled (like dark theme).
 * - Webhelp uses "Custom Class" prism.js plugin, so all of their prism classes are prefixed with "--prism".
 *   Dokka doesn't seem to need this plugin at the moment, so all "--prism" prefixes have been removed.
 * - Removed all styles related to `pre` and `code` tags. Kotlinlang's resulting styles are so spread out and complicated
 *   that it's difficult to gather in one place. Instead use code styles defined in the main Dokka styles,
 *   which at the moment looks fairly similar.
 *
 * Based on prism.js default theme
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8c8c8c;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #871094;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #067d17;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	/* This background color was intended by the author of this theme. */
	background: hsla(0, 0%, 100%, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	font-size: inherit; /* to override .keyword */
	color: #0033b3;
}

.token.function {
	color: #00627a;
}

.token.class-name {
	color: #000000;
}

.token.regex,
.token.important,
.token.variable {
	color: #871094;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.operator {
	background: none;
}

/*
 * DARK THEME
 */
[data-theme='dark']:root .token.comment,
[data-theme='dark']:root .token.prolog,
[data-theme='dark']:root .token.cdata {
	color: #808080;
}

[data-theme='dark']:root .token.delimiter,
[data-theme='dark']:root .token.boolean,
[data-theme='dark']:root .token.keyword,
[data-theme='dark']:root .token.selector,
[data-theme='dark']:root .token.important,
[data-theme='dark']:root .token.atrule {
	color: #cc7832;
}

[data-theme='dark']:root .token.operator,
[data-theme='dark']:root .token.punctuation,
[data-theme='dark']:root .token.attr-name {
	color: #a9b7c6;
}

[data-theme='dark']:root .token.tag,
[data-theme='dark']:root .token.tag .punctuation,
[data-theme='dark']:root .token.doctype,
[data-theme='dark']:root .token.builtin {
	color: #e8bf6a;
}

[data-theme='dark']:root .token.entity,
[data-theme='dark']:root .token.number,
[data-theme='dark']:root .token.symbol {
	color: #6897bb;
}

[data-theme='dark']:root .token.property,
[data-theme='dark']:root .token.constant,
[data-theme='dark']:root .token.variable {
	color: #9876aa;
}

[data-theme='dark']:root .token.string,
[data-theme='dark']:root .token.char {
	color: #6a8759;
}

[data-theme='dark']:root .token.attr-value,
[data-theme='dark']:root .token.attr-value .punctuation {
	color: #a5c261;
}

[data-theme='dark']:root .token.attr-value .punctuation:first-child {
	color: #a9b7c6;
}

[data-theme='dark']:root .token.url {
	text-decoration: underline;

	color: #287bde;
	background: transparent;
}

[data-theme='dark']:root .token.function {
	color: #ffc66d;
}

[data-theme='dark']:root .token.regex {
	background: #364135;
}

[data-theme='dark']:root .token.deleted {
	background: #484a4a;
}

[data-theme='dark']:root .token.inserted {
	background: #294436;
}

[data-theme='dark']:root .token.class-name {
	color: #a9b7c6;
}

[data-theme='dark']:root .token.function {
	color: #ffc66d;
}

[data-theme='dark']:rootcode .language-css .token.property,
[data-theme='dark']:rootcode .language-css,
[data-theme='dark']:root .token.property + .token.punctuation {
	color: #a9b7c6;
}

code.language-css .token.id {
	color: #ffc66d;
}

[data-theme='dark']:root code.language-css .token.selector > .token.class,
[data-theme='dark']:root code.language-css .token.selector > .token.attribute,
[data-theme='dark']:root code.language-css .token.selector > .token.pseudo-class,
[data-theme='dark']:root code.language-css .token.selector > .token.pseudo-element {
	color: #ffc66d;
}

[data-theme='dark']:root .language-plaintext .token {
	/* plaintext code should be colored as article text */
	color: inherit !important;
}
