@layer base, components, docusaurus.infima, theme, utilities;
@import 'tailwindcss/theme.css' layer(theme) prefix(tw);
@import 'tailwindcss/utilities.css' layer(utilities);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui";

/**
 * Reverts the docusaurus.infima CSS layer for any element with this class,
 * effectively isolating it and its children from Docusaurus's global styles.
 * The ':not(#a#b)' selector is a trick to increase specificity.
 */
.no-infima-styles:not(#a#b),
.no-infima-styles:not(#a#b) * {
  @layer docusaurus.infima {
    all: revert-layer;
  }
}

/* Override Infima's heading styles within .no-infima-styles */
/* This allows Tailwind to take control */
.landing h1,
.landing h2,
.landing h3,
.landing h4,
.landing h5,
.landing h6 {
  /* General reset for all headings, color will be overridden for h1 below */
  color: transparent !important;
  font-size: initial;
  /* font-family: inherit !important; */
  /* font-weight: inherit !important;
  line-height: inherit !important; */
  /* margin: 0 !important; */
}


/* You can override the default Infima variables here. */
:root {
    --ifm-font-family-base: 'Roboto', sans-serif;
    --ifm-color-primary: #42D9FF;
    --ifm-color-primary-dark: #2EB1D9;
    --ifm-color-primary-darker: #1D8BB3;
    --ifm-color-primary-darkest: #0F678C;
    --ifm-color-primary-light: #94F1FF;
    --ifm-color-primary-lighter: #BDF8FF;
    --ifm-color-primary-lightest: #E6FDFF;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  }
  
  /* For readability concerns, you should choose a lighter palette in dark mode. */
  [data-theme='dark'] {
    --ifm-color-primary: #3BBBDC;
    --ifm-color-primary-dark: #296D7E;
    --ifm-color-primary-darker: #224F5B;
    --ifm-color-primary-darkest: #1B3B45;
    --ifm-color-primary-light: #62D1E8;
    --ifm-color-primary-lighter: #8EE6F3;
    --ifm-color-primary-lightest: #B8F1F8;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  }